# Copy to `.local/.env` and customize locally (do not commit `.local/.env`).

WINDROSE_PAKS_DIR=<WINDROSE_INSTALL_DIR>\R5\Content\Paks
WINDROSE_MODS_DIR=<WINDROSE_INSTALL_DIR>\R5\Content\Paks\~mods
WINDROSE_AES_KEY=0xYOUR_AES_KEY_HERE
